<div class="login-container">
  <div class="toolbar">

  <mat-toolbar color="primary">
      <span>PAKIETY</span>
      <span class="example-spacer"></span>
      <mat-icon class="example-icon">verified_user</mat-icon>
  </mat-toolbar>
</div>

      <div class="loginbox">
          <form #form="ngForm" novalidate (ngSubmit)="onSubmit(form)">
              <mat-form-field>
                  <input matInput autofocus placeholder="User name" [(ngModel)]="username" name="username" required />
              </mat-form-field>
              <mat-form-field>
                  <input matInput placeholder="Enter password" [type]="hide ? 'password' : 'text'" [(ngModel)]="password"
                      name="password">
                  <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </mat-form-field>
        
              <div *ngIf="message" class="m-l-2 text-danger">{{message || 'empty'}}</div>
              <div class="m-l-2 m-t-2">
                  <button mat-raised-button color="primary" type="submit" class="btn btn-primary" [disabled]="!form.valid">login</button>
                  <button mat-button routerLink="/register" class="m-l-2">Register</button>
              </div>
          </form>
      </div>

</div>